body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  background-image: url(../bag.jpg), url(../apple-tree1.jpg);
  background-repeat: no-repeat;
  background-position: 20% 95%, 50%;
  background-size: 170px, auto, cover;
  border: 1px solid red;
}

.box {
  display: inline-block;
  /* width: 60px;
  height: 60px; */
  /* border-radius: 100px; */
  margin-left: 20px;
  /* background-color: red; */
  cursor: pointer;
}

.fa-apple-whole {
  color: rgb(255, 0, 0);
  font-size: 60px;
}

.title {
  text-align: center;
  /* font-style: italic; */
  font-weight: 700;
  font-size: 36px;
  color: darkcyan;
}

p {
  margin: 0px;
}
